Body {
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color:aqua;
    
    color: black;
    padding: 2px;
   
}


    
.header nav ul li {
    list-style-type: none;
}

.header nav ul{
    padding-top: 60px;
    margin-right: 20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

}
    
    
nav ul li {
    font-size:x-large;
    position: relative;
    bottom: 50px;
    margin-right: 30px;
    text-decoration: underline;
    
}
 

 h1 {
    position:absolute;
    top: 30px;
}

 br {
    background-color: blanchedalmond;
}

 .article {
   /* width: 100%; */
    background-color: aquamarine;
    background-image: url("https://www.pexels.com/photo/empty-brown-canvas-235985/" );
    list-style-type:none;
    padding: 100px;
    font-size: 25px;
    display:flex;
    flex-direction: column;
    }
 .About-Me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border-style: double;
    border-radius: 10px;
     /* width: 100%; */
    
 }

.About-Me p {
       width: 150px;
}
.Work {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    /* align-items: flex-start; */
    padding-top: 15%;
    border-style: double;
    border-radius: 10px;
    
    
}
.Contact-Info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    /* justify-content: space-between; */
    
    flex-wrap: wrap;
    align-items: baseline;
    padding-top: 10%;
    border-style: double;
    border-radius: solid 30px;
}





    
 p{
    float:left;
    text-indent: 1cm;
 }   
p a {
    font-size: 20px;
    display: flex;
    justify-content:center;
 }
    


img{
    width: 300px;
    height: 300px;
}
#small{
    width: 250px;
    height: 250px;
}
#smaller{
    width: 150px;
    height: 150px;
}
li{
    list-style-type: none;
}

footer h3{
    text-align: center;
    background-color: blanchedalmond;
    padding-bottom: 20px;
    width: 100%;
    
    
}
@media screen and (max-width: 992px) {
    .Work, .About-Me, .Contact-Info, .header, p, nav, ul, li, h1, .article{
      width: 50%;
    background: #772014;
    flex-wrap: wrap;
      
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .Work, .About-Me, .Contact-Info, .header, p, nav, ul, li, h1, .article{
      width: 50%;
      background-color: #bb8588;
      flex-wrap:wrap
    }
  }
  
  
  @media screen and (max-width: 576px) {
    .Work, .About-Me, .Contact-Info, .header, p, nav, ul, li, h1, .article{
      background-color: #8ac4ff;
      width: 50%;
      flex-wrap:wrap;
    }
  }
  